<.flash_group flash={@flash} />
<p class="text-center text-xl font-normal"> <a class="underline decoration-sky-500">Inventory Validation Service...</a></p>
   <div class="flex h-screen justify-center items-center">
      <img src="images/resort_img.png" width="1075px" />
  </div> 
<%!-- <div  class="bg-fixed bg-no-repeat bg-center" style="background-image: url(../images/resort_img.png)" height="400" width="400"; >Text LUIS here</div> --%>
<%!-- <div class="bg-[linear-gradient(to_right_bottom,rgba(49,84,44,0.8),rgba(16,71,52,0.8)),url(../images/resort_img.png)]"; ></div> --%>
